@mixin px-rem($pxValue, $property: "font-size", $standard-size: 18) {
    #{$property}: $pxValue/$standard-size + rem;
  }
  
  @mixin aspectRatio($height, $width) {
    padding-top: calc((#{$height}/#{$width})*100%);
    position: relative;
    img {
      position: absolute;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      top: 0;
    }
  }
  
  $base-size: 16;
  
  @function size($target, $context: $base-size) {
    @return ($target / $context) * 1rem;
  }
  
  //   Media query
  @mixin min-max($resMin, $resMax) {
    @media (min-width: $resMin+px) and (max-width: $resMax+px) {
      @content;
    }
  }
  
  @mixin max($res) {
    @media (max-width: $res+px) {
      @content;
    }
  }
  
  @mixin min($res) {
    @media (min-width: $res+px) {
      @content;
    }
  }

  
  
  // Clearfix
  @mixin clearfix {
    *zoom: 1;
  
    &:after,
    &:before {
      content: '';
      display: block;
    }
  
    &:after {
      clear: both;
    }
  }
  
  
  // Placeholder
  @mixin placeholder {
    ::-webkit-input-placeholder {
      @content
    }
  
    :-moz-placeholder {
      @content
    }
  
    ::-moz-placeholder {
      @content
    }
  
    :-ms-input-placeholder {
      @content
    }
  }
  
  @mixin gradient-vertical($start-color: #555, $end-color: #333, $start-percent: 0%, $end-percent: 100%) {
    background-image: -webkit-linear-gradient(top, $start-color $start-percent, $end-color $end-percent); // Safari 5.1-6, Chrome 10+
    background-image: -o-linear-gradient(top, $start-color $start-percent, $end-color $end-percent); // Opera 12
    background-image: linear-gradient(to bottom, $start-color $start-percent, $end-color $end-percent); // Standard, IE10, Firefox 16+, Opera 12.10+, Safari 7+, Chrome 26+
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{ie-hex-str($start-color)}', endColorstr='#{ie-hex-str($end-color)}', GradientType=0); // IE9 and down
  }
  
  //extends 
  
  @mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
 @mixin position-center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }